/node_modules/
example/android/app/build/
example/android/build/
.idea/inspectionProfiles/
.idea/workspace.xml
example/.vscode/
example/__tests__/
example/android/.project
example/android/.settings/
example/android/app/.classpath
example/android/app/.project
example/android/app/.settings/
example/android/app/fabric.properties
example/android/app/gradle.properties
example/android/app/my-release-key.keystore
example/android/app/src/main/assets/appcenter-config.json
example/android/app/src/main/assets/fonts/B Yekan.ttf
example/android/app/src/main/assets/fonts/bnazanin.ttf
example/android/app/src/main/res/drawable-hdpi/
example/android/app/src/main/res/drawable-mdpi/
example/android/app/src/main/res/drawable-xhdpi/
example/android/app/src/main/res/drawable-xxhdpi/
example/android/app/src/main/res/drawable-xxxhdpi/
example/android/app/src/main/res/drawable/
example/android/app/src/main/res/layout/
example/android/app/src/main/res/mipmap-hdpi/
example/android/app/src/main/res/mipmap-mdpi/
example/android/app/src/main/res/mipmap-xhdpi/
example/android/app/src/main/res/mipmap-xxhdpi/
example/android/app/src/main/res/mipmap-xxxhdpi/
example/android/package.json
example/android/yarn.lock
example/ios/example/AppCenter-Config.plist
