<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moonShop">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:supportsRtl="false"
        tools:replace="android:supportsRtl"
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data android:name="com.bugsnag.android.API_KEY"
                   android:value="5f45db649910437512e28e8e41d260cf"/>
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyCbanJoTBSE1zrOtrKfUbfFG_4EJk7HUnM"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		
		
		
		<activity android:name="net.hockeyapp.android.UpdateActivity" />
		<activity android:name="net.hockeyapp.android.FeedbackActivity" />
		
		
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6e18fe6e83aa76c48707cec6e42bf5b5fd6b6951" />
    </application>

</manifest>
